// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Body width modified to fit standard 1200px width grid. Height modified to ensure even height of enclosed divs, based on window size.  */
body, html {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: sans-serif;
}

.backgroundImg {
    background: white url("../img/logo.png") no-repeat center;
    position: fixed;
    z-index: -2;

    display: block;
    width: 100%;
    height: 1080px;
    max-height: 100%;
}

main {
    margin-top: 50px;
    height: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;
    padding-top: 20px;
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-weight: bolder;
}

nav a:link {
    color: rgba(73, 0, 145, 1);
}

nav a:visited {
    color: rgba(73, 0, 145, 1);
}

nav a:hover {
    color: red;
}

nav a:active {
    color: red;
}

.navbreak {
    display: none;
}

/*titlebar encloses the main title header and the navbar, placing them at a fixed position at the top of the screen.*/
.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    color: rgba(73, 0, 145, 1);
    background: white;
    z-index: 9999;
}


/*Various sections split into boxes of height and width equal to the body height and width.*/
.section {
    height: calc(100% - 30px);
    width: 100%;
}

/*Anchor for the navigation on the page.*/
.anchor {
    float: left;
    margin-top: -40px;
    padding-top: 40px;
    display: hidden;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

/*Main descriptive area. Talks about the website and what the navigation controls are.*/
.mainTitle {
    margin-top: 15px;
    background-color: rgba(32, 0, 64, 1);
}

.mainTitle h2 {
    color: white;
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mainTitle p {
    color: white;
    margin: 20px;
    display: flex;
    flex: 1;
    font-size: 2em;
}

/*Random Image Challenge*/
.randomimage {
    background-color: rgba(230, 230, 230, 1);
}

.randomimage h2 {
    color: rgba(32, 0, 64, 1);
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.randomimage p {
    color: rgba(32, 0, 64, 1);
    margin: 20px;
    display: flex;
    flex: 1;
    font-size: 2em;
}

/*White Noise Challenge*/
.whitenoise {
    background-color: rgba(32, 0, 64, 1);
}

.whitenoise h2 {
    color: white;
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.whitenoise p {
    color: white;
    margin: 20px;
    display: flex;
    flex: 1;
    font-size: 2em;
}

/*RSA Challenge*/
.rsa {
    background-color: rgba(230, 230, 230, 1);
}

.rsa h2 {
    color: rgba(32, 0, 64, 1);
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rsa p {
    color: rgba(32, 0, 64, 1);
    margin: 20px;
    display: flex;
    flex: 1;
    font-size: 2em;
}

/*This section for contact information, contact links, and other forms of social links.*/
.contact {
    background-color: rgba(32, 0, 64, 1);
}

.contact p {
    padding-top: 20px;
    color: white;
    display: flex;
    flex: 1;
    font-size: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact img {
    margin: auto;
    margin-top: 20px;
    display: block;
    /*height: 100%;*/
    width: 35%;
}

.contact h2 {
    color: white;
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*This css is holding the place of whatever elements should be inside the various divs in the website. As the divs are filled in, custom classes may be more reasonable, or change the name of this class to avoid confusion post-release.*/
.sectionText {
    color: white;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
}

#responsiveBreak {
    display:none;
}


/*Media Queries*/
@media screen and (max-width: 768px) {

    .titlebar {
        padding-top: 5px;
        height: 30px;
    }

    .downloads img {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 70%;
        vertical-align: middle;
    }

    .downloads img.appstore {
        width: 200px;
    }

    .sectionText {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        vertical-align: middle;
    }

    .backgroundImg {
        background: white url("../img/vertbg.png") no-repeat center;
        position: fixed;
        top: 30px;
        z-index: -2;

        display: block;
        width: 100%;
        height: 1080px;
        max-height: 100%;
        background-size: contain;
    }

    nav {
        text-align: center;
    }

    nav a {
        font-size: 1.25em;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        font-weight: bolder;
    }

    nav a:first-child {
        padding-left: 5px;
    }

    nav a:last-child {
        padding-right: 5px;
    }

    .anchor {
        margin-top: -35px;
        padding-top: 35px;
    }

    /*.sliderImg {
        padding-top: 100px;
    }

    .slideBtn {
        margin-top: 100px;
    }*/

    .prevBtn {
        left: 1%;
    }

    .nextBtn {
        right: 1%;
    }

    #responsiveBreak {
        display:inline;
    }

}

@media screen and (max-width: 414px) {

    .titlebar {
        padding-top: 8px;
        height: 30px;
    }

    .downloads img {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 60%;
        vertical-align: middle;
    }

    .downloads img.appstore {
        width: 200px;
    }

    .sectionText {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        vertical-align: middle;
    }

    nav {
        text-align: center;
    }

    nav a {
        font-size: 1em;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        font-weight: bolder;
    }

    nav a:first-child {
        padding-left: 3px;
    }

    nav a:last-child {
        padding-right: 3px;
    }

    #responsiveBreak {
        display:inline;
    }
}
